@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../assets/alarm-clock.ttf.woff") format("woff");
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}
:root {
  /* Color Variables */

  --color-nemo: #ff4a11;
  --color-granite: #252629;
  --color-water-10: #f3f5f9;
  --color-foam: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  background: black;
}

.article {
  width: 90%;
  height: 10rem;
  margin: 2rem auto;
  padding: 1rem 3rem;
  background-color: var(--color-foam);
  box-shadow: silver 0px 20px 80px;
  border: 20px solid silver;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  background-color: black;
}

.article__link {
  width: fit-content;
  background-color: var(--color-granite);
  color: var(--color-foam);
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 10px;
}

.article__link:hover {
  background-color: var(--color-nemo);
  color: var(--color-water-10);
}

.article__title {
  color: var(--color-nemo);
}
.number {
  font-size: 2.4rem;
  margin: auto;
  color: rgba(0, 255, 0, 1);
}
.date {
  color: rgba(0, 255, 0, 1);
}
